
.contact {

    &_info {
        i {
            color: $primary;
        }
    }
    .input-group {

        .input-group-text {
            background-color: transparent;
            border-bottom: solid 0.1px rgba(106, 106, 106, 0.33);
            border-top: solid 0.1px rgba(106, 106, 106, 0.33);
            border-left: solid 0.1px rgba(106, 106, 106, 0.33);
            color: rgb(106, 106, 106);
        }
        
        .form-control {
            border-top: solid 0.1px rgba(106, 106, 106, 0.33);
            border-right: solid 0.1px rgba(106, 106, 106, 0.33);
            border-bottom: solid 0.1px rgba(106, 106, 106, 0.33);
            background: transparent;
            color: black;
        
            &::placeholder {
                color: black;
            }
        }
    }
}
