*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body, button {
    color: white;
}
h1 {
    font-size: 3.5rem;
}

h1, h2, h3, h4, h5, a {
    font-family: $font-family-heading;
    font-weight: $font-weight-body;
}

p {
    font-family: $font-family-body;
}

a {
    color: white !important;
}

.border-bottom {
    border-bottom: solid .5px rgba(134, 134, 134, 0.395) !important;
}



input[type="time"] {
    background: transparent !important;
    border:  solid white 0.1px;
    color: white;
}


.input-group {

    .input-group-text {
        background-color: transparent;
        border: solid 0.1px white;
        color: white;
    }
    
    .form-control {
        border: solid 0.1px white;
        background: transparent;
        color: white;
    
        &::placeholder {
            color: white;
        }
    }
}