.home {
    .people-like-us {
        li {
            list-style-type: none;
        }
        .col   {
            float: right;
        }
        .dot {
            content: '';
            background-color: $primary;
            width: 0.1rem;
            height: 0.2rem;
            border-radius: 10rem;
            float: left;
            display: inline;
        }
    }
}