.home {
    .people-like-us {
        li {
            list-style-type: none;
        }
        .col   {
            float: right;
        }
        .dot {
            content: '';
            background-color: $primary;
            width: .5rem;
            height: .5rem;
            border-radius: 10rem;
            float: left;
            display: inline;
        }
    }
}