.nav-secondary {
    background-color: $blue-nav;
}



.navbar {
    // .nav {
    //     &-item {
    //         &:active {
    //             background-color: $primary;
    //         }
    //     }
    // }
    
.nav-info {

    &_contact {
        
        a {
            font-size: $font-size-comp-info;

           
        }

        &_icon {
            color: $primary;

        }
        // i.fa-solid.fa-envelope-open.nav-info_contact_icon {
        //     width: 5em;
        //     // @include breakpoints-up (md) {
        //     //     width: 5em;
        //     // }
        // }
    }
    &_socials {
        color: white;

        i {
            
            &:hover {
                color: $primary;
                cursor: pointer;
            }
        }

    }
}
}

.navbar {
    position: relative;
    &-collapse {
        @include breakpoints-down (lg) {
            
            position: absolute;
            top: 55.1px;
            right: 0%;
            margin: 0 0 0 60%;
            background-color: $blue-nav;
        }
    }
    &-toggler {
        border: none;
        background-color: $primary;

        &-icon {
            filter: invert(100);
        }
    }
}

.nav-second {
    .form-control {
        border-width: 3px;
        background: transparent;
    
        &::placeholder {
            color: rgb(255, 0, 0);
        }
    }
}